.header__product {
    display: flex;
    justify-content: space-between;

    .btn__add-product {
        height: 50%;
        padding: 7px 35px;
        background: #43a047;
        color: white;
        font-weight: bold;
        display: flex;
        border-radius: 8px;

        .icon {
            font-size: 18px;
            margin-right: 8px;
            margin-left: -5px;
        }

        .text {
            font-size: 15px;
            margin-top: 3px;
        }
    }

    .btn__add-product:hover {
        background: #00c853;
    }
}

.icon__btn {
    width: 24px;
}